
// Mobile
@media only screen and (max-width: 425px)
  body
    font-size: 14px

  section .title
    font-size: 1.75em

  #home
    h1
      font-size: 2em

    img
      margin-top: 50px
  
  #team
    text-align: center

    .member
      margin: 12.5px 0

      h4
        margin: 0
        font-size: 1.25em

      img
        max-width: 70px !important
        margin-bottom: 0
  
  #services h3
    font-size: 1.15em

  #contact
    text-align: center

    h4
      font-size: 1.15em
      margin-top: 25px !important

    .email
      margin-top: 25px !important
    
      a
        font-size: 1.1rem
    
    .social
      justify-content: center

    .cover
      display: none

// Desktop
@media only screen and (max-width: 1440px)
  body
    font-size: 16px

  #home img
    max-width: 75%

  #about img
    max-width: 56%

  #team .member img
    max-width: 125px
  
  #services img
    max-width: 22%

  #products img
    max-width: 30%

  #contact .cover img
    max-width: 95%