@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900')
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css')
@import "node_modules/bootstrap/scss/bootstrap"

body
  font-family: 'Nunito', sans-serif

header
  font-weight: 700

#home
  h1
    font-size: 4em
    font-weight: 700
    margin-top: 90px
    
  p
    font-size: 1.3em

  .button
    color: #fff !important
    padding: 14px 26px
    border-radius: 5px
    box-shadow: 4px 4px 10px #2296f369
    margin-top: 65px
    display: inline-block
    font-size: 1.2em
    font-weight: 700
    background: #23b9ff
    background: -moz-linear-gradient(45deg, #23b9ff 0%, #2296f3 100%)
    background: -webkit-linear-gradient(45deg, #23b9ff 0%,#2296f3 100%)
    background: linear-gradient(45deg, #23b9ff 0%,#2296f3 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b9ff', endColorstr='#2296f3',GradientType=1 )

    i
      font-size: 1.4em
      margin-left: 13px
      vertical-align: sub