doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vaaip - Software Design, Develop & Maintain Studio
    link(rel="stylesheet", href="app.sass")
  body
    header.wow.fadeIn.slow
      nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand(href='#')
          img(src="assets/logo.png", alt="Vaaip logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.wow.fadeIn.slow(data-wow-delay="4s")
            li.nav-item.active
              a.nav-link(href='#home') Home
            li.nav-item
              a.nav-link(href='#about') About
            li.nav-item
              a.nav-link(href='#') Team
            li.nav-item
              a.nav-link(href='#') Services
            li.nav-item
              a.nav-link(href='#') Contact
              
    section#home.wow.fadeIn.slow
      div.container
        h1.wow.fadeIn.slow(data-wow-delay="1s")
          | Software design,
          br
          | develop &amp; maintain studio
        p.wow.fadeIn.slow(data-wow-delay="2s") We design, develop and maintain robust applications for mobile, web and desktop
        a.button.wow.fadeIn.slow(data-wow-delay="3s")
          | Get a quote
          i.fas.fa-charging-station

    section#about.wow.fadeIn.slow
      div.container
        h1.wow.fadeIn.slow(data-wow-delay="1s") About
        p.wow.fadeIn.slow(data-wow-delay="2s") We are a team of solution-agnostic thinkers, creative designers, and software developers. We design, develop and maintain robust and scalable cross-platform applications for mobile, web and desktop using the latest technologies.  
    
    script(src="app.js")
