doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vaaip - Software Design, Develop & Maintain Studio
    link(rel="stylesheet", href="app.sass")
  body
    header.fixed-top.bg-white.wow.fadeIn.slow
      nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand(href='#')
          img(src="assets/logo.png", alt="Vaaip logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.wow.fadeIn.slow(data-wow-delay="4s")
            li.nav-item.active
              a.nav-link(href='#home') Home
            li.nav-item
              a.nav-link(href='#about') About
            li.nav-item
              a.nav-link(href='#team') Team
            li.nav-item
              a.nav-link(href='#services') Services
            li.nav-item
              a.nav-link(href='#contact') Contact
              
    section#home.wow.fadeIn.slow
      div.container
        h1.wow.fadeIn.slow(data-wow-delay="1s")
          | Software design,
          br
          | develop &amp; maintain studio
        p.wow.fadeIn.slow(data-wow-delay="2s") We design, develop and maintain robust applications for mobile, web and desktop
        a.button.wow.fadeIn.slow(data-wow-delay="3s")
          | Get a quote
          i.fas.fa-charging-station

    section#about.wow.fadeIn(data-wow-delay="1s")
      div.container
        h1.title.wow.fadeIn.slow(data-wow-delay="2s") Who we are
        p.desc.wow.fadeIn.slow(data-wow-delay="3s") We are a team of solution-agnostic thinkers, creative designers, and software developers, based out of Calicut, India. We design, develop and maintain robust and scalable cross-platform applications for mobile, web and desktop using the latest technologies.  
    
    section#team
      div.container
        .row.align-items-center
          .col.col-md-5
            h1.title Meet team
            p.desc We are led by a small team who constantly questions, tinkers, and challenges to unlock great creativity and implement the robust solution on around every turn.
          .col
            .member
              img(src="./assets/team-photo.png")
              h4.mt-3 Renjith
              p.m-0 Co-founder, Project Lead
              a(href="skype:renjith.v.k?chat") Skype

          .col
            .member
              img(src="./assets/team-photo.png")
              h4.mt-3 Rahul
              p.m-0 Co-founder, Team Lead
              a(href="skype:live:rahultp518?chat") Skype

    script(src="app.js")
