doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vaaip - Software Design, Develop &amp; Maintain Studio
    link(rel="icon", href="favicon.ico")
    link(rel="stylesheet", href="app.sass")
    link(rel="stylesheet", href="resp.sass")
  body
    header.fixed-top.bg-white.wow.fadeIn
      nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand(href='#')
          img(src="assets/logo.png", alt="Vaaip logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#home').px-3 Home
            li.nav-item
              a.nav-link(href='#about').px-3 About
            li.nav-item
              a.nav-link(href='#team').px-3 Team
            li.nav-item
              a.nav-link(href='#services').px-3 Services
            li.nav-item
              a.nav-link(href='#products').px-3 Products
            li.nav-item
              a.nav-link(href='#contact').px-3 Contact
              
    section#home.wow.fadeIn
      div.container
        h1.mt-5.mb-3
          | Software design,
          br
          | develop &amp; maintain studio
        p We design, develop and maintain robust applications for mobile, web and desktop
        a.button.mt-5(data-toggle="modal" data-target="#form")
          | Get a quote
          i.fas.fa-charging-station
        img(src='./assets/home.svg')

    section#about.wow.fadeIn
      div.container.text-center
        h1.title Who we are
        p We are a team of solution-agnostic thinkers, creative designers, and software developers, based out of Calicut, India. We design, develop and maintain robust and scalable cross-platform applications for mobile, web and desktop using the latest technologies.  
        img.mt-5.pt-4(src='./assets/about.svg')

    section#team.wow.fadeIn
      div.container
        .row.align-items-center
          .col-md-5
            h1.title Meet team
            p We are led by a small team who constantly questions, tinkers, and challenges to unlock great creativity and implement the robust solution on around every turn.
          .col-md-7
            .row
              .col-md-6.col-sm-12
                .member.text-center
                  img(src="./assets/renjith.svg")
                  h4.mt-3 Renjith
                  p.mb-2 DevOps Engineer, Project Lead
                  a(href="skype:renjith.v.k?chat")
                    i.fab.fa-skype.fa-lg
              .col-md-6.col-sm-12
                .member.text-center
                  img(src="./assets/rahul.svg")
                  h4.mt-3 Rahul
                  p.mb-2 DevOps Engineer, Team Lead
                  a(href="skype:live:rahultp518?chat")
                    i.fab.fa-skype.fa-lg

    section#services.wow.fadeIn
      .container.text-center
        h1.title What we do
        p.text-center.mb-5 We are capable to plan, wireframe, design, develop, test, deploy, maintain and scale software for web, mobile and desktop platforms using the latest technologies in affordable price.
        img.my-4(src='./assets/services.svg')
        .row.text-center.mt-5
          .col
            h3 Web
          .col
            h3 Mobile
          .col
            h3 Desktop

    section#products.wow.fadeIn
      .container.text-center
        h1.title Looperchat
        img(src='./assets/chat.svg')
        p.text-center.mb-5 Looperchat is a live support chat application build with latest web technologies. Copy a simple line of JavaScript code snippet into the HTML of your website and the chat widget starts working instantly.
        a.button(href='https://codecanyon.net/item/looperchat-live-support-chat/23029417')
          | Purchase now
          i.fas.fa-shopping-cart

    section#contact.wow.fadeIn
      .container
        h1.title Get in touch
        .row
          .col-md-5
            p Do you have any queries? Feel free to say hello! We would be happy to answer you.
            div
              h4.mt-5 Vaaip Software Studio
              p
                | West Chathamangalam,
                br
                | Calicut, India - 673601
              p
                a(href="https://goo.gl/maps/Q3mupbeDH352") Direction
            p.email.mt-5.social
                a(href="mailto:hello@vaaip.com") hello@vaaip.com
            ul.social
              li
                a(href="https://www.facebook.com/vaaips/")
                  i.fab.fa-facebook-f
              li
                a(href="https://twitter.com/vaaips")
                  i.fab.fa-twitter
              li
                a(href="https://www.instagram.com/vaaips/")
                  i.fab.fa-instagram
              li
                a(href="https://www.youtube.com/channel/UCn7Rng1sWJmWCjTZKFS0IwA")
                  i.fab.fa-youtube
              li
                a(href="skype:renjith.v.k?chat")
                  i.fab.fa-skype
          .col-md-7.cover
            img(src='./assets/contact.svg')
    
    .modal.fade(role='dialog' id="form")
      .modal-dialog(role='document')
        .modal-content
          .modal-body
            .form-row.mb-2
              .col
                input.form-control(type="text" placeholder="Name")
              .col
                input.form-control(type="email" placeholder="Email")
            .form-row.mb-2
              .col
                ul.d-flex.justify-content-between.align-items-center
                  li(data-target="ios") Web applications
                  li(data-target="android") Mobile apps
                  li(data-target="mac") Desktop apps
            .form-row.mb-2
              .col
                textarea.form-control(placeholder="About your project..." rows="3")
            .form-row
              .col
                input.form-control(type="number" placeholder="Budget")
              .col
                .input-group.mb-3
                  .custom-file
                    input#file-upload.custom-file-input(type='file')
                    label.custom-file-label(for='file-upload') Attachments
                  .input-group-append
                    .input-group-text
                      i.fas.fa-file-upload
            .row
              .col.d-flex.justify-content-center
                button.button
                  | Get quote
                  i.fas.fa-paper-plane.ml-2

    script(src="app.js")
