doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vaaip - Software Design, Develop & Maintain Studio
    link(rel="stylesheet", href="app.sass")
  body
    header.fixed-top.bg-white.wow.fadeIn.slow
      nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand(href='#')
          img(src="assets/logo.png", alt="Vaaip logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.wow.fadeIn.slow(data-wow-delay="3s")
            li.nav-item.active
              a.nav-link(href='#home') Home
            li.nav-item
              a.nav-link(href='#about') About
            li.nav-item
              a.nav-link(href='#team') Team
            li.nav-item
              a.nav-link(href='#services') Services
            li.nav-item
              a.nav-link(href='#contact') Contact
              
    section#home.wow.fadeIn.slow
      div.container
        h1.mt-5.mb-3.wow.fadeIn.slow(data-wow-delay="1s")
          | Software design,
          br
          | develop &amp; maintain studio
        p.wow.fadeIn.slow(data-wow-delay="2s") We design, develop and maintain robust applications for mobile, web and desktop
        a.button.mt-5.wow.fadeIn.slow(data-wow-delay="3s")
          | Get a quote
          i.fas.fa-charging-station
        img(src='./assets/home.svg')

    section#about
      div.container.text-center
        h1.title.wow.fadeIn.slow(data-wow-delay="1s") Who we are
        p.wow.fadeIn.slow(data-wow-delay="2s") We are a team of solution-agnostic thinkers, creative designers, and software developers, based out of Calicut, India. We design, develop and maintain robust and scalable cross-platform applications for mobile, web and desktop using the latest technologies.  
        img.wow.fadeIn.slow.mt-5.mw-100(src='./assets/about.jpg')(data-wow-delay="1s")

    section#team
      div.container
        .row.align-items-center
          .col.col-md-5
            h1.title.wow.fadeIn.slow(data-wow-delay="1s") Meet team
            p.wow.fadeIn.slow(data-wow-delay="2s") We are led by a small team who constantly questions, tinkers, and challenges to unlock great creativity and implement the robust solution on around every turn.
          .col
            .member.text-center.wow.fadeIn.slow(data-wow-delay="3s")
              img(src="./assets/team-photo.png")
              h4.mt-3 Renjith
              p.m-0 Co-founder, Project Lead
              a(href="skype:renjith.v.k?chat") Skype
          .col
            .member.text-center.wow.fadeIn.slow(data-wow-delay="4s")
              img(src="./assets/team-photo.png")
              h4.mt-3 Rahul
              p.m-0 Co-founder, Team Lead
              a(href="skype:live:rahultp518?chat") Skype

    section#services
      .container.text-center
        h1.title.wow.fadeIn.slow(data-wow-delay="1s") What we do
        p.text-center.mb-5.wow.fadeIn.slow(data-wow-delay="2s") We are capable to plan, wireframe, design, develop, test, deploy and maintain software for web, mobile and desktop platforms using the latest technologies in affordable price
        img(src='./assets/services.png').wow.fadeIn.slow(data-wow-delay="2s")
        .row.text-center.mt-5
          .col
            h3.wow.fadeIn.slow(data-wow-delay="2s") Web
          .col
            h3.wow.fadeIn.slow(data-wow-delay="3s") Mobile
          .col
            h3.wow.fadeIn.slow(data-wow-delay="4s") Desktop

    section#contact
      .container
        h1.title.wow.fadeIn.slow(data-wow-delay="1s") Get in touch
        .row
          .col.col-md-5
            p.wow.fadeIn.slow(data-wow-delay="2s") Do you have any queries? Feel free to say hello! We would be happy to answer you.
            div.wow.fadeIn.slow(data-wow-delay="3s")
              h4.mt-5 Vaaip Software Studio
              p
                | West Chathamangalam,
                br
                | Calicut, India - 673601
              p
                a(href="https://goo.gl/maps/Q3mupbeDH352") Direction
            p.email.mt-5.social.wow.fadeIn.slow(data-wow-delay="4s")
                a(href="mailto:hello@vaaip.com") hello@vaaip.com
            ul.social.wow.fadeIn.slow(data-wow-delay="4s")
              li
                a(href="https://www.facebook.com/vaaips/")
                  i.fab.fa-facebook-f
              li
                a(href="https://twitter.com/vaaips")
                  i.fab.fa-twitter
              li
                a(href="https://www.instagram.com/vaaips/")
                  i.fab.fa-instagram
              li
                a(href="https://www.youtube.com/channel/UCn7Rng1sWJmWCjTZKFS0IwA")
                  i.fab.fa-youtube
          .col.cover.wow.fadeIn.slow(data-wow-delay="1s")
            img(src='./assets/contact.png')

    script(src="app.js")
