doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vaaip - Software Design, Develop & Maintain Studio
  body
    header
      img(src="assets/logo.png", alt="Vaaip logo")
      ul
        li
          a(href="#home") Home
        li
          a(href="#about") About
        li
          a(href="#contact") Contact